#div-full-article-page {
    display: flex;
    justify-content: center;
}

#div-page-full-article {
    width: 66.6%;
    padding-left: 3.5%;
    padding-right: .5%;
}

#div-page-full-article-side-card {
    width: 33.3%;
    padding-right: 3.5%;
    padding-left: .5%;
}



@media screen and (max-width: 700px) {
    #div-full-article-page {
        display: inline-block;
    }

    #div-page-full-article {
        width: 100%;
        padding-right: 3.5%;
        padding-left: 3.5%;
    }
    
    #div-page-full-article-side-card {
        width: 100%;
        padding-right: 5.5%;
        padding-left: 5.5%;
    }
}