.article-card {
    /* background-color: rgb(230, 224, 224); */
    background: none;
    width: 100%;
    /* border-radius: 2.5%; */
    /* box-shadow: 0em 0em .5em .5em rgba(255, 136, 0, 0.199); */
    text-align: center;
    border-bottom-width: .05em;
    border-bottom-style: dashed;
    border-bottom-color: rgb(187, 184, 184);
    display: flex;
    padding-bottom: 1em;
    padding-top: 1em;
    transition: background-color 1s ease-out 100ms;
}

.article-link {
    text-decoration: none;
}

.article-card:hover {
    background-color: #d6d4d0;
}

.div-image {
    width: 25%;
    margin-left: .5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-title-date {
    width: 75%;
    margin-top: 1.5%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.image {
    border-style: solid;
    border-width: .05em;
    border-color: gray;
    width: 70%;
    /* border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-1deg);
    border: solid #5c3000; */
}

.title {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    margin-left: 1em;
    font-weight: bold;
    font-size: 120%;
    font-family: Inter, sans-serif;
    color: rgb(64, 65, 66);
}

.date {
    font-size: 70%;
    color: gray;
    letter-spacing: .05em;
    padding: 0;
    margin: 0;
    padding-top: 0.5em;
    display: flex;
    justify-content: left;
    margin-left: 2em;
    font-family: Inter, sans-serif;
}

.div-description {
    display: flex;
    justify-content: left;
}

.description {
    padding: 0;
    margin: 0;
    margin-left: 1.5em;
    margin-top: .5em;
    font-family: Inter, sans-serif;
    font-size: 80%;
    color: rgb(64, 65, 66);
    text-align: left;
    width: 80%;
}

#article-card-link {
    text-decoration: none;
}