#full-article-card {
    background-color: rgb(250, 246, 246);
    background-image: url('../../images/background3.png');
    width: 80%;
    border-radius: .5%;
    border-width: .5em;
    box-shadow: 0em 0em .5em .15em rgba(14, 13, 13, 0.199);
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-top: .2em;
    padding-bottom: .2em;
}

#stitch-div {
    margin-left: .2em;
    margin-right: .2em;
    border-width: .1em;
    border-style: dashed;
    border-color: rgb(187, 184, 184);
}

#div-title {
    display: flex;
    justify-content: center;
}

#div-date {
    display: flex;
    justify-content: center;    
}

#div-image {
    display: flex;
    justify-content: center;    
}

#div-content {
    padding-top: 2em;
    display: flex;
    justify-content: center;
}

#p-title {
    font-family: Inter, sans-serif;
    padding-top: 1em;
    font-weight: bold;
    font-size: 120%;
}

#p-date {
    font-family: Inter, sans-serif;
    font-size: 80%;;
    color: gray;
}

#p-image {
    border-style: solid;
    border-width: .05em;
    border-color: gray;
    width: auto;
}

#p-content {
    width: 80%;
}