#mobile-card {
    background-color: rgb(250, 246, 246);
    background-image: url('../../images/background3.png');
    border-radius: .5%;
    border-width: .5em;
    box-shadow: 0em 0em .5em .15em rgba(14, 13, 13, 0.199);
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-top: .2em;
    padding-bottom: .2em;
    font-family: Inter, sans-serif;
}

#stitch-div {
    margin-left: .2em;
    margin-right: .2em;
    border-width: .1em;
    border-style: dashed;
    border-color: rgb(187, 184, 184);
}

#mobile-content-div {
    display: flex;
    width: 100%;
}

#div-mobile-card-image {
    width: 40%;
    margin-left: .5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#mobile-card-image {
    width: 100%;
}

#div-mobile-card-title-content {
    width: 60%;
}

#mobile-card-title {
    text-align: center;
    padding-top: 5%;
    font-family: Qwitcher Grypen, sans-serif;
    font-weight: lighter;
    font-size: 300%;
    color: #3c2600;
    text-shadow: 1px 1px 2px #5c3000;
    text-decoration: underline dashed gray 1px;
}

#mobile-card-content {
    font-size: 80%;
    padding-left: .5em;
}