#card {
    background-color: rgb(250, 246, 246);
    background-image: url('../../images/background3.png');
    border-radius: .5%;
    border-width: .5em;
    box-shadow: 0em 0em .5em .15em rgba(14, 13, 13, 0.199);
    margin-top: 2em;
    padding-top: .2em;
    padding-bottom: .2em;
}

#stitch-div {
    margin-left: .2em;
    margin-right: .2em;
    border-width: .1em;
    border-style: dashed;
    border-color: rgb(187, 184, 184);
}

#title {
    color: #3c2600;
    text-shadow: 1px 1px 2px #5c3000;
    font-family: Qwitcher Grypen, sans-serif;
    font-weight: lighter;
    font-size: 300%;
    text-align: center;
    padding-top: .5em;
    max-width: 10em;
    text-decoration: underline dashed gray 1px;
}

#title-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#article-card-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-evenly; */
    padding-bottom: 2em;
}

#div-pagination {
    display: flex;
    justify-content: center;
}

#div-items-pagination {
    display: block;
}

.page-link {
    /* background-color: rgb(238, 230, 230); */
    color: gray;
}

.page-item.active .page-link {
    background-color: #bba98a;
    /* border: none; */
    box-shadow: none;
    border-color: #bba98a;
}

.page-item.disabled .page-link {
    background-color: rgb(234, 226, 226);
}

.disabled:active {
    border: none;
    box-shadow: none;
}

.page-link:hover {
    background-color: #dbcfb7;
    color: gray;
}

.page-link:active {
    border: none;
    box-shadow: none;
}

.pagination {
    border-width: .01em;
    border-style: dashed;
    border-color: gray;
}

#div-pagination {
    padding-bottom: 1em;
}

@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";



@media screen and (max-width: 700px) {
    #title-div {
        justify-content: left;
        padding-left: 5%;
    }
}