.logoDiv {
    width: 25%;
}

.logo {
    max-width: 190px;
}

.navDiv {
    margin-top: .8%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    width: 60%;
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
    margin-top: .2%;
}




@media screen and (max-width: 1000px) {
    .nav-list {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .nav-list {
        width: 80%;
    }
}

@media screen and (max-width: 440px) {
    .nav-list {
        margin-top: -.5em;
    }
}