.logoDiv {
    width: 25%;
}

.logo {
    max-width: 190px;
}

.navDiv {
    margin-top: .8%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    width: 60%;
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .2%;
}

.logo {
    display: flex;
    justify-content: left;
    padding-left: 5%;
}

@media screen and (max-width: 1000px) {
    .nav-list {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .nav-list {
        width: 80%;
    }
}