.nav-list-item {
    /* color: green; */
    transition: all .2s ease-in-out; 
    /* margin-left: 8%;
    margin-right: 8%; */
    width: 100%;
    text-align: center;
}

.nav-list-item:hover {
    transform: scale(1.1);
}

.nav-list-item a {
    text-decoration: none;
    color: #5c3000;
    font-size: 200%;
    font-family: Qwitcher Grypen, sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

.nav-list-item a:hover {
    /* color: #dbcfb7; */
    color: #5c3000;
}

@media screen and (max-width: 800px) {
    .nav-list-item a {
        font-size: 200%;
    }
}

@media screen and (max-width: 600px) {
    .nav-list-item a {
        font-family: Qwitcher Grypen, sans-serif;
        font-size: 150%;
    }
}