.nav-list-item {
    /* color: green; */
}

.nav-list-item a {
    text-decoration: none;
    color: #5c3000;
    font-size: 200%;
    font-family: Qwitcher Grypen, sans-serif;
}

.nav-list-item a:hover {
    color: #dbcfb7;
}

@media screen and (max-width: 800px) {
    .nav-list-item a {
        font-size: 200%;
    }
}

@media screen and (max-width: 600px) {
    .nav-list-item a {
        font-family: Qwitcher Grypen, sans-serif;
        font-size: 150%;
    }
}