#div-footer {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

#footer-text {
    text-align: center;
    color: gray;
}

@media screen and (max-width: 800px) {
    #footer-text {
        font-size: 70%;
    }
}