body {
    background-color: rgb(233, 226, 226);
    background-image: url("./images/background3.png");
    background-repeat: repeat-x;
}

body, html{
    margin:0;
    padding:0;
}

/* #appDiv {
    background-color: whitesmoke;
    border-style: solid;
    border-color: rgb(226, 218, 218);
    border-width: 1px;
    border-radius: 25px;
} */