.background {
    width: 100%;
    max-height: 30em;
    filter: brightness(50%);
}

#logo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    width: 12%;
    min-width: 8em;
}

#backgroundFrame {
    position: relative;
    width: 100%;
    height: 12em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../images/ginger-background.jpg);   
    background-position: center;
    background-size: cover;
}

#div-bmc {
    width: 10em;
    position: absolute;
    bottom: .5em;
    left: .5em;
}

#image-bmc {
    width: 100%;
    transition: all .2s ease-in-out; 
}

#image-bmc:hover {
    transform: scale(1.05);
}

#social-links {
    position: absolute;
    bottom: .75em;
    right: 2em;
}

.social-link {
    border-color: #5c3000;
    color: white;
    background-color: #5c3000;
    transition: all .2s ease-in-out; 
}

.social-link:hover {
    opacity: 80%;
    color: white;
    transform: scale(1.1);
}

#social-links-facebook {
    text-decoration: none;
    /* color: white;
    background-color: blue; */
    font-size: 120%;
    margin-left: .5em;
    border-radius: 50%;
    border-style: solid;
    border-width: .05em;
}

#social-links-facebook::before {
    position: relative;
    bottom: -.20em;
}

#social-links-pinterest {
    text-decoration: none;
    /* color: white;
    background-color: red; */
    font-size: 120%;
    margin-left: .5em;
    border-radius: 50%;
    border-style: solid;
    border-width: .05em;
}

#social-links-pinterest::before {
    position: relative;
    bottom: -.15em;
    left: -.01em;
}

#social-links-instagram {
    text-decoration: none;
    /* color: white;
    background-color: purple; */
    font-size: 120%;
    margin-left: .5em;
    border-radius: 50%;
    border-style: solid;
    border-width: .05em;
}

#social-links-instagram::before {
    position: relative;
    bottom: -.18em;
    right: -.025em;
}

#social-links-rss {
    text-decoration: none;
    /* color: white;
    background-color: orange; */
    font-size: 120%;
    margin-left: .5em;
    border-radius: 50%;
    border-style: solid;
    border-width: .05em;
}

#social-links-rss::before {
    position: relative;
    bottom: -.20em;
    right: -.05em;
}

.fa {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
}
  
.fa:hover {
    opacity: 0.95;
}



@media screen and (max-width: 800px) {
    #backgroundFrame {
        margin-top: -.5em;
    }

    #social-links-facebook {
        font-size: 90%;
    }

    #social-links-pinterest {
        font-size: 90%;
    }

    #social-links-instagram {
        font-size: 90%;
    }

    #social-links-rss {
        font-size: 90%;
    }

    #div-bmc {
        width: 7.5em;
    }    
}

@media screen and (max-width: 440px) {
    #backgroundFrame {
        margin-top: -1em;
    }
}